
@media (max-width: 1200px)
    .container
        max-width: 992px
    .header
        width: 95%
        margin: auto
    .collection
        &__pictures
            &-pic
                width: 320px
                height: 230px
            &-picbig
                margin-right: 22px
        &-small
            display: flex
            justify-content: space-between
            flex-direction: column
        &__description
            margin-left: 20px

@media (max-width: 992px)
    .container
        max-width: 768px
    .header
        width: 95%
        margin: auto
    .main
        &__button
            &:hover
                background: #183B56
    .navbar
        width: 600px
        &__button
            &:hover
                background-image: none
                color: #1565D8
                background-color: #fff
                border-color: #1565D8
    .collection
        &-wrapper
            flex-direction: column
            margin: auto
        &__pictures
            margin: auto
            &-pic
                width: 320px
                height: 230px
            &-picbig
                margin-right: 0px
        &-small
            display: flex
            justify-content: space-between
            flex-direction: column
        &__description
            margin-left: 0px
            margin-top: 40px

            &-title

                max-width: 565px
                margin-bottom: 24px
            &-text

                max-width: 672px
                margin-bottom: 24px
            &-button
                padding-left: 0
                padding-right: 0
@media (max-width: 768px)
    .container
        max-width: 672px
    .header
        padding-bottom: 48px
    .main
        margin-top: 0
        margin-bottom: 80px
        &__container
            max-width: 728px
            background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%), url(../img/header-image-768.jpg) no-repeat
            object-fit: contain
            padding-top: 42px
            padding-left: 28px
            padding-bottom: 36px
        &__title
            font-size: 48px
            margin-top: 30px
            margin-bottom: 20px
            line-height: 60px
        &__text

            max-width: 400px
            margin-bottom: 36px
            font-size: 18px
            line-height: 32px
        &__button
            margin-bottom: 40px
        &__payments
            padding-bottom: 0
    .navbar
        display: none

    .collection
        padding-top: 0px
        &-wrapper
            flex-direction: column
            margin: auto
            width: 672px
        &__pictures
            width: 97%
            margin: auto
            &-pic
                width: 320px
                height: 230px
            &-picbig
                margin-right: 0px
        &-small
            display: flex
            justify-content: space-between
            flex-direction: column
        &__description
            margin-left: 0px
            margin-top: 40px

            &-title

                max-width: 565px
                margin-bottom: 24px
            &-text

                max-width: 672px
                margin-bottom: 24px
            &-button
                padding-left: 0
                padding-right: 0

@media (max-width: 767px)

    .main
        &__container
            max-width: 728px
        &__title
            font-size: 48px
        &__text
            font-size: 18px
            max-width: 400px
    .navbar
        display: none
    .collection
        padding-top: 0px
        width: 97%
        margin: auto
        &-wrapper
            flex-direction: column
            margin: auto
            width: 672px
        &__pictures
            max-width: 672px
            margin: 0
            &-pic
                width: 320px
                height: 230px
            &-picbig
                margin-right: 0px
        &-small
            display: flex
            justify-content: space-between
            flex-direction: column
        &__description
            margin-left: 0px
            margin-top: 40px

            &-title

                max-width: 565px
                margin-bottom: 24px
            &-text

                max-width: 672px
                margin-bottom: 24px
            &-button
                padding-left: 0
                padding-right: 0

@media (max-width: 675px)
    .container
        max-width: 576px
    .collection
        padding-top: 0px

        &-wrapper
            flex-direction: column
            margin: auto
            width: 100%
        &__pictures
            width: 97%
            margin: auto
            &-pic
                width: 240px
                height: 210px
            &-picbig
                margin-right: 0px
                width: 293px
        &-small
            display: flex
            justify-content: space-between

        &__description
            margin-left: 0px
            margin-top: 40px

            &-title

                max-width: 565px
                margin-bottom: 24px
            &-text

                max-width: 672px
                margin-bottom: 24px
            &-button
                padding-left: 0
                padding-right: 0

@media (max-width: 576px)
    .container
        max-width: 520px
    .collection
        max-width: 520px
        margin: auto
        &-wrapper
            width: 100%
        &__pictures
            width: 97%
            margin: auto

            &-small

            &-pic
                width: 200px
                height: 200px
            &-picbig
                width: 270px

@media (max-width: 520px)
    .container
        max-width: 450px
    .collection
        max-width: 450px
        margin: auto
        &__pictures
            max-width: 450px

            &-small

            &-pic
                width: 150px
                height: 150px
            &-picbig
                height: 315px
@media (max-width: 480px)
    .container
        max-width: 400px
    .main

        &__container
            max-width: 420px
            padding-left: 0
        &__payments
            &-item
                display: flex
                flex-direction: column
                margin: auto
                &-text
                    margin-left: 0
        &-hashtag
            margin-left: 10px
        &__title
            margin-left: 10px
            font-size: 42px
            line-height: 40px
        &__text
            margin-left: 10px
            font-size: 16px
            line-height: 28px
        &__button
            margin-left: 10px

    .collection
        max-width: 350px

        &-wrapper

        &__pictures
            max-width: 350px
            display: flex
            flex-direction: column
            align-items: center

            &-item
                width: 290px
                height: 300px

            &-small
                display: flex
                flex-direction: row
                justify-content: space-between
                width: 290px
                margin-top: 15px
                &-left
                    width: 138px
                    height: 97px
                &-right
                    width: 138px
                    height: 97px
            &-pic
                width: 138px
                height: 97px
            &-picbig
                width: 290px
                height: 300px
                object-fit: cover
        &__description
            &-title
                text-align: center
            &-text
                text-align: center
            &-button
                display: flex
                margin: auto
                &-arrow
                    align-self: center

@media (max-width: 480px)
    .container
        max-width: 350px
    .main
        margin-bottom: 34px
        background-color: #E8EAE9
        &__container
            background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%), url(../img/header-image-400.jpg) no-repeat
            padding-top: 380px
            border-radius: 0
            margin: auto
            text-align: center
            align-items: center
            padding-bottom: 0

        &-hashtag
            margin-left: 0px

        &__title
            padding-top: 22px
            padding-bottom: 20px
            margin-left: 0px
            margin: auto
            font-size: 32px
            line-height: 40px
            max-width: 244px
            /*text-align: center*/

        &__text
            margin-left: 0px
            margin: auto
            /*text-align: center*/
            max-width: 390px
            padding-bottom: 24px

        &__button
            margin-left: 0px
            font-size: 16px
            line-height: 22px
            margin-bottom: 24px
        &__payments
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            margin: auto
            max-width: 310px
            padding-bottom: 38px

            &-item
                display: flex
                flex-direction: row
                &-text
                    text-align: center
                    align-self: center
                    margin-left: 8px
    #item3
        margin-top: 20px
    .collection
        padding-top: 0
        &__description
            &-title
                font-size: 28px
                line-height: 36px
            &-text
                font-size: 16px
                line-height: 28px
            &-button
                display: flex
                margin: auto
                &-arrow
                    align-self: center

@media (max-width: 360px)
    .collection
        max-width: 290px
        padding-top: 0

        &-wrapper

        &__pictures
            max-width: 290px
            display: flex
            flex-direction: column
            align-items: center

            &-item
                width: 290px
                height: 300px

            &-small
                display: flex
                flex-direction: row
                justify-content: space-between
                width: 290px
                margin-top: 15px
                &-left
                    width: 138px
                    height: 97px
                &-right
                    width: 138px
                    height: 97px
            &-pic
                width: 138px
                height: 97px
            &-picbig
                width: 290px
                height: 300px
                object-fit: cover
        &__description
            &-button
                display: none

@media (max-width: 320px)
    .container
        max-width: 300px
    .main
        margin-bottom: 34px
        background-color: #E8EAE9
        &__container
            background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%), url(../img/header-image-320.jpg) no-repeat
            padding-top: 380px
            border-radius: 0
            margin: auto
            text-align: center
            align-items: center
            padding-bottom: 0

        &-hashtag
            margin-left: 0px

        &__title
            padding-top: 22px
            padding-bottom: 20px
            margin-left: 0px
            margin: auto
            font-size: 32px
            line-height: 40px
            max-width: 244px
            /*text-align: center*/

        &__text
            margin-left: 0px
            margin: auto
            /*text-align: center*/
            max-width: 280px
            padding-bottom: 24px

        &__button
            margin-left: 0px
            font-size: 16px
            line-height: 22px
            margin-bottom: 24px
        &__payments
            display: flex
            justify-content: space-between
            flex-wrap: wrap

            max-width: 310px
            padding-bottom: 34px

            &-item
                display: flex
                flex-direction: row
                &-text
                    text-align: center
                    align-self: center
                    margin-left: 8px

    #item3
    .collection
        padding-top: 0
        padding-bottom: 110px
        &__description
            &-text
                margin-bottom: 0px
