
*
    box-sizing: border-box

.container
    max-width: 1140px
    margin: auto

//Подключаю шрифты

@font-face
    font-family: 'HK Grotesk'
    font-style: normal
    font-weight: 400
    src: local('HK Grotesk'), url('https://fonts.cdnfonts.com/s/16412/HKGrotesk-RegularLegacy.woff') format('woff')


    &
        font-family: 'HK Grotesk'
        font-style: normal
        font-weight: 500
        src: local('HK Grotesk'), url('https://fonts.cdnfonts.com/s/16412/HKGrotesk-MediumLegacy.woff') format('woff')


    &
        font-family: 'HK Grotesk'
        font-style: normal
        font-weight: 700
        src: local('HK Grotesk'), url('https://fonts.cdnfonts.com/s/16412/HKGrotesk-BoldLegacy.woff') format('woff')
